body {
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: turquoise;
    margin: 0;
    padding: 20px;
    font-size: 2.5em;
    font-family: 'Spicy Rice', cursive;
}

#opening-statements {
    text-align: center;
    margin: auto;
}

.pet-profile-pic {
    width: 300px;
    margin: 20px;
    margin-top: 0;
    float: left;
}

.pet-bonus-picture {
    width: 150px;
    float: right;
    margin: 10px;
}

p {
    font-size: 1.25em;
}

.pet-profile {
    width: 80%;
    background-color: antiquewhite;
    border: 5px solid slategrey;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    min-height: fit-content;
    overflow: auto;
}

.pet-name {
    font-size: 1.5em;
    text-align: center;
    background-color: orange;
    color: white;
    padding: 10px;
}