body {
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: red;
    margin: 0;
    padding: 20px;
    font-size: 2.5em;
    font-family: 'Spicy Rice', cursive;
}

#opening-statements {
    text-align: center;
    margin: auto;
}

.pet-profile-pic {
    width: 300px;
}

.pet-bonus-picture {
    width: 150px;
}

.pet-profile {
    width: 80%;
    background-color: antiquewhite;
    margin: auto;
    justify-content: center;
}